* { box-sizing: border-box; }

body {
    font-family: 'Roboto', sans-serif;
}

.home-wrapper {
    background: /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),*/ url('../images/background2.jpg') no-repeat center top;
    background-size: cover;
    color: white;
    height: 770px;
}

header {
    padding: 10px 0;
}

header img {
    width: 200px;
    height: 200px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    
}

header nav a.active {
 background: #fed136;
 border-radius: 3px;
}

#home {
    text-align: center;
    padding: 200px 0 150px;
}

#home h1 {
    font-size:58px;
    font-weight: normal;
}

#home p {
    font-size: 24px;
}

#home .social {
    margin-top: 80px;
}

#home .social a {
    color:white;
    display: inline-block;
    border-radius: 50%;
    background-color: #fed136;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#home .social a:hover {
    background-color: red;
}

#servicios .box {
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 10px;
   
}

#portafolio {
    background-color: white;
}

#portafolio .box {
    display: inline-block;
    text-align: center;
    width: 33%;
    
}

portafolio .box img {
    width: 100%;
}

#portafolio .box p {
    color: #666
    padding: 10px;
}

#contacto {
    background-color: #f75002;
    background-image: url('../images/map-image2.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    
}

#contacto h2 {
    color: black; 
    padding-top: 120px;
}


#contacto input {
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contacto textarea {
    margin: 20px 0;
    padding: 20px;
    width: 400px;
    resize: none;
    
}

#contacto button {
    background-color: #fed136;
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;  
}

footer {
    padding: 90px 0;
    text-align: center;
    font-size: 18px;
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}

.container {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

  






